
<i class="material-icons close"  style="cursor:pointer;" (click)="onNoClick()">close</i>

  <div *ngIf="dialogData.data === 'custo'" style="text-align: center;">
  
    <form [formGroup]="formcustodian" (ngSubmit)="onSubmitCustodian()">
      
      
      <div class="row">
       

       

        <div class="col-md-12">
          <label>Add New Custodian</label>
          <input class="form-control" formControlName="custodian" type="text"
          [ngClass]="{ 'is-invalid': submitted && formCusto.custodian.errors }"  >
         

          <div *ngIf="submitted && formCusto.custodian.errors" class="invalid-feedback">
            <div *ngIf="formCusto.custodian.errors.required">Custodian is required</div>
          </div>
          
      </div>

      <!-- <div class="col-md-2">
        <label>Bit</label>
        <input class="form-control" formControlName="bit" type="number"
        [ngClass]="{ 'is-invalid': submitted && fOS.bit.errors }"  >
       

        <div *ngIf="submitted && fOS.bit.errors" class="invalid-feedback">
          <div *ngIf="fOS.bit.errors.required">Bit is required</div>
        </div>
        
    </div> -->

    

    </div>

    <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>

    </form>

  </div>
