
<i class="material-icons close"  style="cursor:pointer;" (click)="onNoClick()">close</i>

<!-- <div *ngIf="dialogData.data === 'os' || dialogData.data === 'sp'" style="text-align: center;">
    <form [formGroup]="formOS" (ngSubmit)="onSubmitOS()">

        <div class="row">
            <div class="col-md-5" *ngIf="dialogData.data === 'os' ">
                <label>Operating System</label>
                <input class="form-control" formControlName="os"
                [ngClass]="{ 'is-invalid': submitted && fOS.os.errors }" >
                <div *ngIf="submitted && fOS.os.errors" class="invalid-feedback">
                    <div *ngIf="fOS.os.errors.required">Operating System is required</div>
                  </div>
            </div>

            <div class="col-md-5"  *ngIf="dialogData.data === 'sp' ">
                <label>Operating System</label>
                <select class="form-control" formControlName="os"
                [ngClass]="{ 'is-invalid': submitted && fOS.os.errors }" >
                    <option></option>
                    <option *ngFor="let os of operartingSystem" >{{os.osname}}</option>
            </select>
                <div *ngIf="submitted && fOS.os.errors" class="invalid-feedback">
                    <div *ngIf="fOS.os.errors.required">Operating System is required</div>
                  </div>
            </div>
  
            <div class="col-md-2">
              <label>Bit</label>
              <input class="form-control" formControlName="bit" type="number"
              [ngClass]="{ 'is-invalid': submitted && fOS.bit.errors }"  >
            

              <div *ngIf="submitted && fOS.bit.errors" class="invalid-feedback">
                <div *ngIf="fOS.bit.errors.required">Bit is required</div>
              </div>
              
          </div>

          <div class="col-md-5">
            <label>Service Pack</label>
            <input class="form-control" formControlName="sp" [ngClass]="{ 'is-invalid': submitted && fOS.sp.errors }" >
            <div *ngIf="submitted && fOS.sp.errors" class="invalid-feedback">
                <div *ngIf="fOS.sp.errors.required">Service Pack is required</div>
              </div>
        </div>
  
        </div>

        <div class="row mt-3" style="text-align: end;" >
            <div class="col-md-12">
                <button type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
                <button class="btn btn-primary ml-2">Create</button>
            </div>
         </div>

     </form>
</div> -->




<!--  
<div *ngIf="dialogData.data === 'vendor' || dialogData.data === 'vendorl'" style="text-align: center;">
   <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="row">
          <div class="col-md-6" *ngIf="dialogData.data === 'vendor' ">
              <label>Vendor Name</label>
              <input class="form-control" formControlName="vname" [ngClass]="{ 'is-invalid': submitted && f.vname.errors }" >
              <div *ngIf="submitted && f.vname.errors" class="invalid-feedback">
                <div *ngIf="f.vname.errors.required">Vendor Name is required</div>
              </div>
            </div>

            <div class="col-md-6" *ngIf="dialogData.data === 'vendorl' ">
                <label>Vendor Name</label>
                <select class="form-control" formControlName="vname" [ngClass]="{ 'is-invalid': submitted && f.vname.errors }" >
                <option></option>  
                <option *ngFor="let ven of vendor">{{ven.vendor_name}}</option>  
                </select>
                <div *ngIf="submitted && f.vname.errors" class="invalid-feedback">
                  <div *ngIf="f.vname.errors.required">Vendor Name is required</div>
                </div>
              </div>

          <div class="col-md-6">
            <label>Vendor Location</label>
            <input class="form-control" formControlName="vlocation" [ngClass]="{ 'is-invalid': submitted && f.vlocation.errors }" >
            <div *ngIf="submitted && f.vlocation.errors" class="invalid-feedback">
                <div *ngIf="f.vlocation.errors.required">Vendor Location is required</div>
              </div>
        </div>

        <br>

        
      </div>

      <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button  type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>

   </form>
 </div>



 
<div *ngIf="dialogData.data === 'make' || dialogData.data === 'model'">
    <form [formGroup]="formMake" (ngSubmit)="onSubmitMake()">
 
       <div class="row">
           <div class="col-md-6" *ngIf="dialogData.data === 'make' ">
               <label>Make</label>
               <input class="form-control" formControlName="make" [ngClass]="{ 'is-invalid': submitted && formM.make.errors }" >
               <div *ngIf="submitted && formM.make.errors" class="invalid-feedback">
                 <div *ngIf="formM.make.errors.required">Make is required</div>
               </div>
             </div>
 
             <div class="col-md-6" *ngIf="dialogData.data === 'model' ">
                 <label>Make</label>
                 <select class="form-control" formControlName="make" [ngClass]="{ 'is-invalid': submitted && formM.make.errors }" >
                 <option></option> 
                 <option  *ngFor="let mfg of manufacture">{{mfg.manufacturer}}</option>   
                 </select>
                 <div *ngIf="submitted && formM.make.errors" class="invalid-feedback">
                   <div *ngIf="formM.make.errors.required">Make is required</div>
                 </div>
               </div>
 
           <div class="col-md-6">
             <label>Model</label>
             <input class="form-control" formControlName="model" [ngClass]="{ 'is-invalid': submitted && formM.model.errors }" >
             <div *ngIf="submitted && formM.model.errors" class="invalid-feedback">
                 <div *ngIf="formM.model.errors.required">Model is required</div>
               </div>
         </div>
 
         <br>  
       </div>

       <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button  type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>
    </form>
  </div>



  
<div *ngIf="dialogData.data === 'processor' || dialogData.data === 'speed'">
    <form [formGroup]="formProcessor" (ngSubmit)="onSubmitProcessor()">
 
       <div class="row">
           <div class="col-md-6" *ngIf="dialogData.data === 'processor' ">
               <label>Processor</label>
               <input class="form-control" formControlName="processor" [ngClass]="{ 'is-invalid': submitted && formP.processor.errors }" >
               <div *ngIf="submitted && formP.processor.errors" class="invalid-feedback">
                 <div *ngIf="formP.processor.errors.required">Processor is required</div>
               </div>
             </div>
 
             <div class="col-md-6" *ngIf="dialogData.data === 'speed' ">
                 <label>Processor</label>
                 <select class="form-control" formControlName="processor" [ngClass]="{ 'is-invalid': submitted && formP.processor.errors }" >
                 <option></option>   
                 <option *ngFor="let prc of processor">{{prc.processor}}</option> 
                 </select>
                 <div *ngIf="submitted && formP.processor.errors" class="invalid-feedback">
                   <div *ngIf="formP.processor.errors.required">Processor is required</div>
                 </div>
               </div>
 
           <div class="col-md-6">
             <label>Speed</label>
             <input class="form-control" formControlName="speed" [ngClass]="{ 'is-invalid': submitted && formP.speed.errors }" >
             <div *ngIf="submitted && formP.speed.errors" class="invalid-feedback">
                 <div *ngIf="formP.speed.errors.required">Speed is required</div>
               </div>
         </div>
 
         <br>  
       </div>

       <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button  type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>
    </form>
  </div>



    
<div *ngIf="dialogData.data === 'rtype' || dialogData.data === 'rsize'">
    <form [formGroup]="formRam" (ngSubmit)="onSubmitRam()">
 
       <div class="row">
           <div class="col-md-6" *ngIf="dialogData.data === 'rtype' ">
               <label>RAM Type</label>
               <input class="form-control" formControlName="rtype" [ngClass]="{ 'is-invalid': submitted && formR.rtype.errors }" >
               <div *ngIf="submitted && formR.rtype.errors" class="invalid-feedback">
                 <div *ngIf="formR.rtype.errors.required">RAM Type is required</div>
               </div>
             </div>
 
             <div class="col-md-6" *ngIf="dialogData.data === 'rsize' ">
                 <label>RAM Type</label>
                 <select class="form-control" formControlName="rtype" [ngClass]="{ 'is-invalid': submitted && formR.rtype.errors }" >
                 <option></option>    
                 <option *ngFor="let ram of ramType">{{ram.rtype}}</option>
                 </select>
                 <div *ngIf="submitted && formR.rtype.errors" class="invalid-feedback">
                   <div *ngIf="formR.rtype.errors.required">RAM Type is required</div>
                 </div>
               </div>
 
           <div class="col-md-6">
             <label>RAM Size</label>
             <input type="number" class="form-control" formControlName="rsize" [ngClass]="{ 'is-invalid': submitted && formR.rsize.errors }" >
             <div *ngIf="submitted && formR.rsize.errors" class="invalid-feedback">
                 <div *ngIf="formR.rsize.errors.required">RAM Size is required</div>
               </div>
         </div>

         <div class="col-md-6">
            <label>RAM UOM</label>
            <input class="form-control" formControlName="ruom" [ngClass]="{ 'is-invalid': submitted && formR.ruom.errors }" >
            <div *ngIf="submitted && formR.ruom.errors" class="invalid-feedback">
                <div *ngIf="formR.ruom.errors.required">RAM UOM is required</div>
              </div>
        </div>
 
         <br>  
       </div>

       <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button  type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>
    </form>
  </div>




     
<div *ngIf="dialogData.data === 'hddtype' || dialogData.data === 'hddsize'">
    <form [formGroup]="formHdd" (ngSubmit)="onSubmitHDD()">
 
       <div class="row">
           <div class="col-md-6" *ngIf="dialogData.data === 'hddtype' ">
               <label>HDD Type</label>
               <input class="form-control" formControlName="hddtype" [ngClass]="{ 'is-invalid': submitted && formh.hddtype.errors }" >
               <div *ngIf="submitted && formh.hddtype.errors" class="invalid-feedback">
                 <div *ngIf="formh.hddtype.errors.required">HDD Type is required</div>
               </div>
             </div>
 
             <div class="col-md-6" *ngIf="dialogData.data === 'hddsize' ">
                 <label>HDD Type</label>
                 <select class="form-control" formControlName="hddtype" [ngClass]="{ 'is-invalid': submitted && formh.hddtype.errors }" >
                 <option></option>   
                 <option *ngFor="let ht of hardType">{{ht.hddtype}}</option> 
                 </select>
                 <div *ngIf="submitted && formh.hddtype.errors" class="invalid-feedback">
                   <div *ngIf="formh.hddtype.errors.required">HDD Type is required</div>
                 </div>
               </div>
 
           <div class="col-md-6">
             <label>HDD Size</label>
             <input type="number" class="form-control" formControlName="hddsize" [ngClass]="{ 'is-invalid': submitted && formh.hddsize.errors }" >
             <div *ngIf="submitted && formh.hddsize.errors" class="invalid-feedback">
                 <div *ngIf="formh.hddsize.errors.required">HDD Size is required</div>
               </div>
         </div>

         <div class="col-md-6">
            <label>HDD UOM</label>
            <input class="form-control" formControlName="hdduom" [ngClass]="{ 'is-invalid': submitted && formh.hdduom.errors }" >
            <div *ngIf="submitted && formh.hdduom.errors" class="invalid-feedback">
                <div *ngIf="formh.hdduom.errors.required">HDD UOM is required</div>
              </div>
        </div>
 
         <br>  
       </div>

       <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button  type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>
    </form>
  </div>



  
     
<div *ngIf="dialogData.data === 'gpucard' || dialogData.data === 'gpusize'">
    <form [formGroup]="formGpu" (ngSubmit)="onSubmitGpu()">
 
       <div class="row">
           <div class="col-md-6" *ngIf="dialogData.data === 'gpucard' ">
               <label>GPU Card</label>
               <input class="form-control" formControlName="gpucard" [ngClass]="{ 'is-invalid': submitted && formG.gpucard.errors }" >
               <div *ngIf="submitted && formG.gpucard.errors" class="invalid-feedback">
                 <div *ngIf="formG.gpucard.errors.required">GPU Card is required</div>
               </div>
             </div>
 
             <div class="col-md-6" *ngIf="dialogData.data === 'gpusize' ">
                 <label>GPU Card</label>
                 <select class="form-control" formControlName="gpucard" [ngClass]="{ 'is-invalid': submitted && formG.gpucard.errors }" >
                 <option></option> 
                 <option *ngFor="let gpu of gpuRam">{{gpu.gpucard}}</option>   
                 </select>
                 <div *ngIf="submitted && formG.gpucard.errors" class="invalid-feedback">
                   <div *ngIf="formG.gpucard.errors.required">GPU Cardis required</div>
                 </div>
               </div>
 
           <div class="col-md-6">
             <label>GPU Size</label>
             <input type="number" class="form-control" formControlName="gpusize" [ngClass]="{ 'is-invalid': submitted && formG.gpusize.errors }" >
             <div *ngIf="submitted && formG.gpusize.errors" class="invalid-feedback">
                 <div *ngIf="formG.gpusize.errors.required">GPU Size is required</div>
               </div>
         </div>

         <div class="col-md-6">
            <label>GPU UOM</label>
            <input class="form-control"  formControlName="gpuuom" [ngClass]="{ 'is-invalid': submitted && formG.gpuuom.errors }" >
            <div *ngIf="submitted && formG.gpuuom.errors" class="invalid-feedback">
                <div *ngIf="formG.gpuuom.errors.required">GPU UOM is required</div>
              </div>
        </div>
 
         <br>  
       </div>

       <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button  type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>
    </form>
  </div> -->

  <div *ngIf="dialogData.data === 'custo'" style="text-align: center;">
  
    <form [formGroup]="formcustodian" (ngSubmit)="onSubmitCustodian()">
      
      
      <div class="row">
       

       

        <div class="col-md-12">
          <label>Add New Custodian</label>
          <input class="form-control" formControlName="custodian" type="text"
          [ngClass]="{ 'is-invalid': submitted && formCusto.custodian.errors }"  >
         

          <div *ngIf="submitted && formCusto.custodian.errors" class="invalid-feedback">
            <div *ngIf="formCusto.custodian.errors.required">Custodian is required</div>
          </div>
          
      </div>

      <!-- <div class="col-md-2">
        <label>Bit</label>
        <input class="form-control" formControlName="bit" type="number"
        [ngClass]="{ 'is-invalid': submitted && fOS.bit.errors }"  >
       

        <div *ngIf="submitted && fOS.bit.errors" class="invalid-feedback">
          <div *ngIf="fOS.bit.errors.required">Bit is required</div>
        </div>
        
    </div> -->

    

    </div>

    <div class="row mt-3" style="text-align: end;" >
        <div class="col-md-12">
            <button type="button" class="btn btn-warning "  (click)="onNoClick()">Cancel</button>
            <button class="btn btn-primary ml-2">Create</button>
        </div>
     </div>

    </form>

  </div>
