
<div >

<div class="row">
   
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 35px; margin-left: -10px;">
      <div class="row">

        <div class="card">
          <div class="card-body">
            <p>All Tickets</p>
              <hr>
              <p id="number" style="margin-top: -20px;">52</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p>Tickets Due Today</p>
              <hr>
              <p id="number" style="margin-top: -20px;">52</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p>Open Tickets </p>
              <hr>
              <p id="number" style="margin-top: -20px;">52</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p> Unassigned Tickets </p>
              <hr>
              <p id="number" style="margin-top: -20px;">52</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p>Tickets Overdue </p>
              <hr>
              <p id="number" style="margin-top: -20px;">52</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p>Tickets On Hold </p>
              <hr>
              <p id="number" style="margin-top: -20px;">52</p>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="card content-des">
          <p class="card-title">Unresolved Ticktes By Priority</p>
          <div class="card-body">
          
             
          </div>
        </div>

        <div class="card content-des">
          <p class="card-title">Open Ticktes By Category</p>
          <div class="card-body">
           
             
          </div>
        </div>

        <div class="card content-des">
          <p class="card-title"> Ticktes On Hold</p>
          <div class="card-body">
           
             
          </div>
        </div>

         
      </div>

    </div>
</div>

</div>