#p1{
    position: relative;
   
    height: 19px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #2A2B2D;

}
#p3{
    position: relative;
   
    height: 19px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #2A2B2D;

}
#p2{
    position: relative;
   
    height: 16px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #2A2B2D;


}
#apply{
    position: relative;
    background-color:#5AB190 ;
    border: 1px solid #5AB190;
    width: 300px;
    height: 32px;
    border-radius: 3px;
    color:white;
}
#clear{

    position: relative;
    margin-top: -14px;
   
   /* margin-left: 100px; */
   margin-left: 50px;
    margin-right: -10px;    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    
    
    color: #83858a;
   cursor: pointer;

}
.material-icons {
    background-color: rgba(0, 0, 0, 0.3);
    /* opacity:0.5; */
    border-radius: 20px;
    border: 0.1px solid transparent;
    color: black;
  }
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
