<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-fhd-12 bg-img" style="background: url('assets/img/bg-login.png');
background-repeat:no repeat;
background-size: 100% 100%;">

  <div class="container">

    <!-- <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-3">
    <img class="my-4 img-logo" src="assets/img/logo.jpg">
    <p id="at"></p>
    </div>
  </div> -->
    <br><br><br>

    <div class="row" style="margin-top: -4rem;">
      <div class="col-sm-9 col-md-4 col-lg-2 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body" style="text-align: center;">

            <form class="form-signin  ml-5 mr-5" [formGroup]="form" (ngSubmit)="onSubmit()">
              <h3 class="login-text">Sign in</h3><br>
              <div class="form-label-group" style="text-align: left;">
                <label for="inputEmail">User Name</label>
                <input autofocus="true" type="text" id="name" class="form-control f-10" placeholder="Enter the username"
                  formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required autofocus>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Username is required</div>
                </div>
              </div>
              <br>
              <div class="form-label-group" style="text-align: left;">
                <label for="inputPassword">Password</label>
                <input autofocus="true" type="password" id="password" class="form-control f-10"
                  placeholder="Enter the password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>

              <!-- popup-massage-error start-->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">

                  <div class="modal-content">

                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                      <span aria-hidden="true">&times;</span>

                    </button> -->

                    <div class="modal-body">

                      <p class="text-center">{{result}}</p>

                    </div>

                  </div>

                </div>

              </div>

              <!-- popup-massage-error end-->

              <button type="button" class="signin-btn mt-5" type="submit">LOGIN</button>
              <br><br>
              <a routerLink="/reset" class="float-center" style="cursor: pointer;">Forgot Password?</a>
            </form>





            <br>
            <p id="p5" class="mt-5 mb-5">Service Plus software by Augmented Transformations</p>

          </div>
        </div>
      </div>
      <!-- <div class=" mt-5">
        <p class="go">Innovative platform </p>
        <p class="managing"> smart investments</p>
      </div> -->
    </div>
  </div>
</div>