
 
  
  
  
  #user1{
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: -18px;
    /* margin-left:-45px; */
    margin-right: 10px;
    
    border: 1px solid #3F704D;
    box-sizing: content-box;
    
    border-radius: 50%;
    background-color: #3F704D;
}
#path{
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: #C9E3DB;    
}
.p{
    position: relative;
    margin-left: 288px;
    margin-top: 70px;
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    color: #2A2B2D;
    text-decoration-line: underline;
}


#newt{
          
  background-color:#007AFF ;
  width: auto;
  height: 28px;
   border: #007AFF;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  border-radius: 3px;
  color: white;
  outline: none;
  text-align: center;
  
}
    


#user{
  height:100px;
  width:100px;
  /* margin-top: 40px;
  margin-left: 10px; */
  border-radius: 50%;
}
#username{
  margin-top:10px;
  margin-left: 0px;
  color:#2A2B2D;
  font-family: Raleway;
  font-size: 14px;
  font-weight: normal;
  font-weight: bold;

}
#userid{
  /* margin-top:5px; */
  color:#2A2B2D;
  font-family: Raleway;
  font-size: 14px;
  font-weight: normal;
  font-weight: bold;
}
#designation{
    float: left;
  height: 5px;
  width: auto;
 margin-left: 20px;
  color:#2A2B2D;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
}
#bcase{
  height: 15px;
  width: 30px;
  /* margin-left:-80px; */
  /* margin-top: -30px; */
}

.card{ 
  /* margin-right: 10px; */
  background:#e9e7e7;
  height: auto;
  margin-left: 7px;
  margin-bottom: 1rem;
  color: #000;
  border-radius: 5px;
  border: #e9e7e7;
}

#userdesignation{
   
  float: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 50px;
    color: #2A2B2D;
}

#Email{
  float: left;
  margin-top:5px;
  margin-left: 20px;
  color:#2A2B2D;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
}
#messages1{
  height: 15px;
  width: 20px;
  
}
#ipemail{
  float: left;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #2A2B2D;
}

#contact{
    float: left;
    margin-left: 20px;
  margin-top:5px;
  /* margin-left: -40px; */
  color:#2A2B2D;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
}
#phone{
  height: 20px;
  width: 18px;
  /* margin-left:10px; */
}
#ipcontact{
    /* float: left; */
  /* margin-top:05px; */
  /* margin-left: 50px; */
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #2A2B2D;
}

#location{
  /* margin-top:5px;
  color:#2A2B2D;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold; */

  float: left;
  margin-left: 20px;
margin-top:5px;
/* margin-left: -40px; */
color:#2A2B2D;
font-family: Raleway;
font-size: 14px;
font-weight: bold;
}
#bcase{
  height: 15px;
  width: 20px;
  /* margin-left:10px; */
}
#iplocation{
float: left;
  margin-left: 50px;
  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #2A2B2D;
}
#locpin{
  width:9.53px;
  height:16px;
  /* margin-left: 10px; */
}
#edit{
  width:90px;
  background-color: #c4c4c4;
  color: #2A2B2D;
  border-radius:5px ;
  font-family: Raleway;
  float: right;
  border: #C4C4C4 3px solid;

}




a{
    /* margin-top:600px; */
    margin-left: 30px;
    font-size: 14px;
    font-family: Raleway;
    
    
}
#sub{
  
  font-size: 14px;
  background-color: #4A4A4B 1px solid;

}
#plus{
  height:15px;
  width:15px;
}
#action1{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 280px;
    width: 250px;
    font-family: Raleway;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;


}

th{
  background-color: #C4C4C4;color:#2A2B2D;font-size: 18px;font-family: Raleway;
}

#delete{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 250px;

    font-family: Raleway;
    font-weight: normal;
    
}



#p1{
  position: absolute;
  margin-left: 0px;
  margin-top :0px;
  border:  1px solid #C4C4C4;
  width: 258px;
  height:90px;
  border-radius: 8px;
  
}

#userdept,#deptid,#usertype,#supportgroup,#usergrp,#reportingto{
  font-family: Raleway;
  position: absolute;
  margin-top: 10px;
  margin-left:10px;
  text-indent: 5px right;
  font-weight: bold;
  
}
#ipuserdept,#ipdeptid,#ipusertype,#ipsupgrp,#ipusergrp,#ipreporting{
  margin-left: 10px;
  margin-top: 20px;
  font-family: Raleway;
  font-weight: normal;
}

#p2{
  position: absolute;
  margin-left:265px;
  margin-top : 0px;
  border:  1px solid #C4C4C4;
  width: 258px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}


#p13{
  position: absolute;
  margin-left:525px;
  /* margin-top :235px; */
  border:  1px solid #C4C4C4;
  width: 200px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}

#p3{
  position: absolute;
  margin-left: 0px;
  margin-top :115px;
  border:  1px solid #C4C4C4;
  width: 258px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}

#p4{
  position: absolute;
  margin-left:265px;
  margin-top :115px;
  border:  1px solid #C4C4C4;
  width: 258px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}

#p5{
  position: absolute;
  margin-left:530px;
  margin-top :115px;
  border:  1px solid #C4C4C4;
  width: 170px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}

#p6{
  position: absolute;
  margin-left: 0px;
  margin-top :235px;
  border:  1px solid #C4C4C4;
  width: 738px;
  height:150px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}
#p7{
  position: absolute;
  margin-left:810px;
  margin-top :55px;
  border:  1px solid #C4C4C4;
  width: 208px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}
button{
  width:257px;
  height:40px;
  background-color:#696969;
  border: #696969 1px solid;
  color:white;
  font-family: Raleway;
  font-size: 16px;
  text-align: left;
  
}

#p9{
  position: absolute;
  margin-left: 0px;
  margin-top :235px;
  border:  1px solid #C4C4C4;
  width: 258px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}

#p10{
  position: absolute;
  margin-left:265px;
  margin-top :235px;
  border:  1px solid #C4C4C4;
  width: 258px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}

#p11{
  position: absolute;
  margin-left:530px;
  margin-top :235px;
  border:  1px solid #C4C4C4;
  width: 170px;
  height:90px;
  border-radius: 3px;
  text-indent: 5px right;
  background-color: white;
  border-radius: 8px;
}

#p12{
  position: absolute;
  margin-left:0;
  margin-top :335px;
}


#imguser{
  position: relative;
width: 90px;
height: 90px;

top: 40px;
}

#headp{
  float: left;
  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;
color: #2A2B2D;
}

.vl {
  
  border-left: 1px solid #C4C4C4;
  height: 450px;
  margin-top: 4.2rem;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  /* border-color: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #00B4EB;
  color: black;
}
.nav-link{
  color: gray;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.nav-tabs{
  border-bottom: none;
}
a{
  margin-left: 0px;
}

table {
  width: 100%;
  box-shadow: none;
}
.mat-header-cell {
  background-color: #c4c4c4;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #2a2b2d;
}

#action3{
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  font-family: Raleway;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 3px;
  color: #000;


}

#action4{
margin-top: 20px;
margin-bottom: 25px;
margin-left: 15px;
width: 200px;
height: 30px;
font-family: Raleway;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 3px;
color: #000;


}