/* Large-device-media-query */
@media (min-width: 1800px) and (max-width:2200px)
{
    div.scroll {
        height: 890px !important;
        overflow-y: scroll;
        overflow-x: hidden;
        }
}
@media (min-width: 480px)
{
    .mobile-menu
    {
        display: none;
    
    }

    .menu-btn
    {
        display: none !important;
    }
}

/* Mobile-device-responsive */
@media (max-width:480px){
    .h3, h3 {
        font-size: 20px;
    }

    .desktop-menu {
        display: none;
    }

    .mob-sidebar
    {
        width: 94%;
    }

    .mobile-menu
    {
        display: block;
    }

    .menu-btn
    {
        display: block;
    }

    .m-w-94
    {
        width: 94% !important;
    }

    #sidebar{
        border:none !important;
        background-color: #69696900 !important;
    }

    .text-truncate{
        overflow: visible;
        /* background-color: transparent !important; */
       
      }

    .profile-text {
        font-size: 12px !important;
        background-color: #e5e5e500 !important;
        margin-left: -20px;
        width: 62% !important;
    }
    .buttonb:hover {
        border: #3552f7 1px solid !important;
        background-color: #414141 !important;
        width: 100% !important;
    }

    .col-xs-6
    {
        width: 50% !important;
    }

    .col-sm-6
    {
        width: 50% !important;
    }

    .col-xs-2 {
        -ms-flex: 0 0 16.666667% !important;
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
      }
      .col-xs-12 {
        flex: 100% !important;
        max-width: 100% !important;
      }
    
    .mob-nav
    {
        padding: 0px 0px !important;
        font-size: 10px  !important;
    }

    .popup-logout{
        width:80% !important;
    }

  
    

    .Cust-icon {
        width: 35px !important;
        height: 35px !important;
        line-height: 39px !important;
        border-radius: 50%;
        font-size: 16px !important;
        color: rgb(107, 106, 106);
        text-align: center;
        background: rgb(223, 213, 213);
    }

    .create-new {
        background-color: #fff;
        color: rgb(117, 116, 116);
        /* width: 88px; */
        outline: none;
        border-color: #bebebe solid 1px;
        margin-top: 5px !important;
        border-radius: 5px !important;
        padding: 5px !important;
        font-size: 12px;
        float: right !important;
        
    }


    .edit-profile-icon {
        margin: -26px 0 0 20px !important;
        font-size: 12px;
    }

    .cust-create-btn {
        width: 150px !important;
        height: 30px !important;
        font-size: 12px !important;
        
    }

    /* .noti-bell {
   
        padding: 0px 5px 0px 5px;
        margin-left: 50px !important;
       
    } */
    ul.nav.navbar-nav {
        
        margin-left: 21px !important;
    }

    #imguser{
        margin-top: 0% !important;
        margin-left: 100px !important;
    }
   

    .btn{
           
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-color: #007aff;
            color: #fff;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s;
            
    }
.nav-mob-item{
    color: #fff !important;
}

 

    .msg-box{
        margin-right: 0px !important;
        
    }
    /* .nav-item{
        margin-right: 40px !important;
    } */

    .navbar-brand {
        font-family: "Open Sans", sans-serif;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 25px !important;
    margin-left: 40px !important;
    font-size: 25px;
    line-height: 25px;
    }

    

    .nav-item {
        margin-right: 14px !important;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }


    div#cdk-overlay-0 {
        width: 100% !important;
    }
/* Login-form-responsive */

.card-signin {
    /* height: 530px; */
    width: 360px !important;
    border-radius: 10px;
    margin-left: 0px !important;
}

.go {
    position: relative;
    color: #ce7378 !important;
    left: 20px !important;
    margin-top: -100px !important;
    font-weight: 600 !important;
    font-size: 25px !important;
    line-height: 20px;
   
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    width: 298px !important;
}
.nav-item {
    margin-right: 5px !important;
    width: 465% !important;
}




.managing{
    position: relative;
    color: #ce7378 !important;
    left: 20px !important;
    font-weight: 600 !important;
    font-size: 30px !important;
}



/* User-form */

.profile-t {
    font-size: 12px !important;
    background-color: #e5e5e500 !important;
    margin-left: -40px;
   
}

.pro-1{
  font-size: 12px !important;
  background-color: #e5e5e500 !important;
  
}

.profile-txt {
  margin: -34px 0 -10px 80px !important;
}

.m-ml-14
{
  margin-left: 14%;
}

.mob-card-m-right {
    margin-right: 15px;
}

.list-no{
    /* margin-top: -40px !important; */
    float: right !important;   
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
    font-size: 14px !important;
}
.new-btn{
    margin: 0 !important;
}

.card.vl.mt-3 {
    width: 93% !important;
}

.card.cl.mt-3 {
    width: 93% !important;
}

div#myDIV {
    width: 86% !important;
}

div#myDIV1 {
    width: 79% !important;
}

.c-btn{
    margin-left: 150px !important;
}


.head-text{
    margin-left: 25px !important;
  }

}



@media (min-width: 320px) and (max-width:375px){


    .h3, h3 {
        font-size: 20px;
    }

    /* .pr-0.col-sm-3half {
        display: none;
    } */

    .profile-text {
        font-size: 12px !important;
        background-color: #e5e5e500 !important;
        margin-left: -20px;
        width: 62% !important;
    }

    .col-xs-6
    {
        width: 50% !important;
    }

    .col-sm-6
    {
        width: 50% !important;
    }

    .col-xs-2 {
        -ms-flex: 0 0 16.666667% !important;
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
      }
      .col-xs-12 {
        flex: 100% !important;
        max-width: 100% !important;
      }
    
    .mob-nav
    {
        padding: 0px 0px !important;
        font-size: 10px  !important;
    }

    .popup-logout{
        width:80% !important;
    }
    .buttonb:hover {
        border: #3552f7 1px solid !important;
        background-color: #414141 !important;
        width: 100% !important;
    }

    .nav-link:focus, .nav-link:hover {
        text-decoration: none;
        width: 298px !important;
    }

    
   
    

    .Cust-icon {
        width: 35px !important;
        height: 35px !important;
        line-height: 39px !important;
        border-radius: 50%;
        font-size: 16px !important;
        color: rgb(107, 106, 106);
        text-align: center;
        background: rgb(223, 213, 213);
    }

    .create-new {
        background-color: #fff;
        color: rgb(117, 116, 116);
         width: 70px !important; 
        outline: none;
        border-color: #bebebe solid 1px;
        margin-top: 5px !important;
        border-radius: 5px !important;
        padding: 5px !important;
        font-size: 12px;
        
    }


    .edit-profile-icon {
        margin: -26px 0 0 20px !important;
        font-size: 12px;
    }

    .cust-create-btn {
        width: 150px !important;
        height: 30px !important;
        font-size: 12px !important;
        
    }

    /* .noti-bell {
        margin-left: 75px !important;
       
    } */

 

    .msg-box{
        margin-right: 0px !important;
        
    }
    
    .navbar-brand {
        margin-left: 15px !important;
        font-family: "Open Sans", sans-serif;
        font-size: 30px !important;      
    }

    .nav-mob-item{
        color: #fff !important;
    }

    .nav-item {
        margin-right: 14px !important;
    }
   

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }


    div#cdk-overlay-0 {
        width: 80% !important;
    }
/* Login-form-responsive */

.card-signin {
    /* height: 530px; */
    width: 300px !important;
    border-radius: 10px;
    margin-left: 0px !important;
}

.go {
    position: relative;
    color: #ce7378 !important;
    left: 20px !important;
    margin-top: -100px !important;
    font-weight: 600 !important;
    font-size: 25px !important;
    line-height: 20px;
   
}



.managing{
    position: relative;
    color: #ce7378 !important;
    left: 20px !important;
    font-weight: 600 !important;
    font-size: 30px !important;
}



/* User-form */

.profile-t {
    font-size: 12px !important;
    background-color: #e5e5e500 !important;
    margin-left: -40px;
   
}


.signin-btn {
    width: 120px !important;
    
}

.pro-1{
  font-size: 12px !important;
  background-color: #e5e5e500 !important;
  
}

.profile-txt {
  margin: -34px 0 -10px 80px !important;
}

.m-ml-14
{
  margin-left: 14%;
}

.mob-card-m-right {
    margin-right: 15px;
}

.list-no{
    /* margin-top: -40px !important; */
    float: right !important;   
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
    font-size: 14px !important;
}
.new-btn{
    margin: 0 !important;
}

.card.vl.mt-3 {
    width: 93% !important;
}

.card.cl.mt-3 {
    width: 93% !important;
}

div#myDIV {
    width: 86% !important;
}

div#myDIV1 {
    width: 79% !important;
}

.c-btn{
    margin-left: 150px !important;
}


.head-text{
    margin-left: 25px !important;
  }

  .update-pass {
    width: 150px !important;   
    margin: 40px 0px 0px 25px !important;
   
}
.clear-all{
    margin-top: 0px !important;
}

.navbar {
    background-color: #007AFF;
    padding: 0px !important;
}

.nav-item {
    margin-right: 5px !important;
    width: 465% !important;
}

}

/* out-of-mob-responsive */

.ml-10
{
    margin-left: 10px;
}


/* mobile menu Css start */

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog{
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
    margin-left: 99%;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
    margin-top: 0px !important;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* mobile menu Css end */
