
table{
    width:100%;
    box-shadow: none;
    }
    .mat-column-select {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 6% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        
        .mat-column-first_name {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 15% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        
        .mat-column-user_id {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        
        .mat-column-description {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 11% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        
        .mat-column-createdtime {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 18% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        
        .mat-column-mobile {
          word-wrap: break-word !important;
          white-space: unset !important;
          flex: 0 0 28% !important;
          width: 10% !important;
          overflow-wrap: break-word;
          word-wrap: break-word;
          
          word-break: break-word;
          
          -ms-hyphens: auto;
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;
          }
          .mat-column-location {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 28% !important;
            width: 10% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;
            
            word-break: break-word;
            
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            }
        .mat-column-actions {
          word-wrap: break-word !important;
          white-space: unset !important;
          flex: 0 0 28% !important;
          width: 10% !important;
          overflow-wrap: break-word;
          word-wrap: break-word;
          
          word-break: break-word;
          
          -ms-hyphens: auto;
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;
          }
          .mat-header-cell
          {
            background-color: #C4C4C4;
            color: #292626;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 16px;
          }
        
#action1 {
  width: 300px;
 height: 35px;
 padding: 17px;
 font-family: TKReg;
 border: 1px solid #C4C4C4;
 box-sizing: border-box;
 border-radius: 5px;
}


#newt{
background-color: #007AFF;
width: 160px;
height: 40px;
border: none;
font-size: 15px;
float: right;
/* margin-top: 15px; */
border-radius: 5px;
color: white;
outline: none;
text-align: center;
/* padding: 10px 15px 10px 15px; */
font-weight: 600;
}

#newt:hover{
text-decoration: none;
transition: 0.5s;
bottom: 2px;
top: none;
z-index: -1;
box-shadow: 0 3px 8px 2px #565353d4;

}
.fa-plus{
padding-right: 20px;

}
          #headp{

            float: left;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #2A2B2D;
          

          }
          .mat-elevation-z8 {
            box-shadow: none !important;
        }
         
/* for-searchbox */
body {
	background: #fff;
	color: #666;
	font: 90%/180% Arial, Helvetica, sans-serif;
	width: 800px;
	max-width: 96%;
	margin: 0 auto;
}
a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: #F60;
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing:content-box;
  box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 150px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
