
<!-- start user-creation-form -->
<div class="container mt-2">
    <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()" #ff="ngForm" name="form">
    <div class="row">
        <div class="col-md-12 ">
            <!-- <div class="col-md-2">
                <img id="user" src="assets/img/Trial 2.png" /><br>
                <a href="" id="Choose"> Add photo </a>
            </div> -->
            <div class="profile-txt">
                <p for="" style="font-weight: 600;margin-bottom: 0; font-size: 22px;">
                    {{title1}}&nbsp;{{fname}}&nbsp;{{mname}}&nbsp;{{lname}}</p>

                <p style="margin-bottom: 0;font-size:16px;font-weight: 600;">{{desig}}</p>
                <p style="font-size: 14px; font-weight: 600;">{{email}}
                    &nbsp;&nbsp;&nbsp;{{mobile}}</p>

            </div>


            <ng-template #content let-modal>
                <div class="container" style="width:300px; height:150px;">
                    <div>
                        <p style="text-align:center; padding:15px; margin-top:10px;">Are you sure you
                            want to cancel the current operation?
                        <p>
                    </div>

                    <div class="clear-fix" style="text-align:center; padding-bottom:15px;">
                        <button type="button"
                            style="margin-right:25px; border-radius:5px; background-color:#bebebe; height:30px; width:110px; font-size:12px; border: none; outline: none;"
                            (click)="modal.close('Close click');close()">Cancel</button>
                        <button type="button"
                            style=" background-color:rgb(62,144,249); border-radius:5px;height:30px; width:110px; font-size: 12px; border: none; outline: none; color:white"
                            (click)="modal.close('Close click')">Keep editing</button>
                    </div>
                </div>
            </ng-template>
            <button type="button" class="create-new float-right"
                (click)="openVerticallyCentered(content)">Cancel</button>

        </div>
    </div>
<hr>
<div class="row">
    <div class="scroll" (scroll)="divScroll($event)">

            <div class="col-md-11 card" *ngIf="div1" [ngClass]="statusClass" (click)="setActiveClass1()">

                <div class="">
                    <h1 class="font-sans f-20">User Information</h1>
                    <a class="clear-all float-right" style="color:rgb(98, 98, 255); cursor: pointer;"
                        (click)="ff.resetForm()"><u>X Clear all</u></a>
                </div><br>




                <div class="row">
                    <div class="col-md-12">


                        <div class="row mt-2">
                            <div class="col-md-2">
                              
                                <select class="form-control f-10" placeholder="Title"
                                    formControlName="title" [(ngModel)]="title1"
                                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                    <option hidden></option>
                                    <option *ngFor="let com3 of products7">{{com3.title}} </option>
                                </select>

                                <div *ngIf="submitted && f.title.errors || f.title.invalid && (f.title.dirty || f.title.touched)"
                                    style="color: red; font-size: 12px;">
                                    <div *ngIf="f.title.errors.required">Title is required</div>
                                </div>

                            </div>
                            <div class="col-md-10">
                              
                                <input type="text" formControlName="firstname" class="form-control f-10"
                                    placeholder="First Name" [(ngModel)]="fname"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                                <div
                                    *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)">
                                    <div *ngIf="submitted && f.firstname.errors || f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)"
                                        style="color: red; font-size: 12px;">
                                        <div *ngIf="f.firstname.errors.required">First Name is required
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input type="text" formControlName="middlename" class="form-control f-10"
                                    placeholder="Middle Name" [(ngModel)]="mname">
                              
                            </div>
                            <div class="col-md-6">
                                <input type="text" formControlName="lastname" class="form-control f-10"
                                    placeholder="Last Name" [(ngModel)]="lname">
                               
                            </div>
                        </div>

                        <div class="row mt-2">

                            <div class="col-md-12 ">
                                <label class="lbl">User Type </label><br>
                                <input class="form-control f-10" formControlName="usertype"
                                    readonly>
                  
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="lbl">Login Name <span
                                        class="required-asterisk">*</span></label><br>
                                <input type="text" class="form-control f-10" formControlName="loginname"
                                    (ngModelChange)="loginName($event)" placeholder="Enter login name"
                                    [ngClass]="{ 'is-invalid': submitted && f.loginname.errors }">
                                <div *ngIf="submitted && f.loginname.errors || f.loginname.invalid && (f.loginname.dirty || f.loginname.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="f.loginname.errors.required">Login Name is required</div>
                                </div>

                                <div *ngIf="assetResultLogin" style="color: red; font-size: 12px;">
                                    <p>{{assetResultLogin}}</p>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <label class="lbl">Password <span
                                        class="required-asterisk">*</span></label><br>
                                <input type="password" class="form-control f-10" formControlName="password"
                                   
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors || f.password.invalid && (f.password.dirty || f.password.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>


                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="lbl">Department <span
                                        class="required-asterisk">*</span></label><br>
                                <select class="form-control f-10" formControlName="department"
                                    [ngClass]="{ 'is-invalid': submitted && f.department.errors }"
                                    (change)="osystem($event)">
                                    <option hidden>Select Department</option>
                                    <option *ngFor="let dept of department">{{dept.deptname}} </option>
                                    <option>
                                        <button type="button" id="exampleModal1" mat-raised-button
                                            (click)="addField('department')">ADD NEW Department</button>
                                    </option>

                                </select>
                                <div *ngIf="submitted && f.department.errors || f.department.invalid && (f.department.dirty || f.department.touched)"
                                    style="color: red; font-size: 12px;">
                                    <div *ngIf="f.department.errors.required">Department is required</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="lbl">User Role <span
                                        class="required-asterisk">*</span></label><br>
                                <select class="form-control f-10 " formControlName="role"
                                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                                    <option hidden> Select user role</option>
                                    <option *ngFor="let com3 of role">{{com3.name}} </option>
                                </select>
                                <div *ngIf="submitted && f.role.errors || f.role.invalid && (f.role.dirty || f.role.touched)"
                                    style="color: red; font-size: 12px;">
                                    <div *ngIf="f.role.errors.required">User Role is required</div>
                                </div>
                            </div>




                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="lbl">Designation <span
                                        class="required-asterisk">*</span></label><br>
                                <select class="form-control f-10" formControlName="designation"
                                    [(ngModel)]="desig"
                                    [ngClass]="{ 'is-invalid': submitted && f.designation.errors }"
                                    (change)="osystem($event)">
                                    <option hidden>Select Designation</option>
                                    <option *ngFor="let com3 of designation">{{com3.designationname}}
                                    </option>
                                    <option>
                                        <button type="button" id="exampleModal2" mat-raised-button
                                            (click)="addField('Designation')">ADD NEW Designation</button>
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.designation.errors || f.designation.invalid && (f.designation.dirty || f.designation.touched)"
                                    style="color: red; font-size: 12px;">
                                    <div *ngIf="f.designation.errors.required">Designation is required</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="lbl">Group <span
                                        class="required-asterisk">*</span></label><br>
                                <select class="form-control f-10" formControlName="group"
                                    [ngClass]="{ 'is-invalid': submitted && f.group.errors }">
                                    <option hidden>Select Group</option>
                                    <option *ngFor="let com3 of usergrp" value={{com3.ussg_id}}>{{com3.sgname}}
                                    </option>
                                  
                                </select>
                               
                            </div>
                        </div>



                    </div>
                </div>


            </div>
            

            <div class="col-md-11 card mt-2" *ngIf="div2" [ngClass]="statusClasses" (click)="setActiveClass2()">

                <div class="">
                    <h1 class="font-sans f-20">Contact Details </h1>
                    <a class="clear-all float-right" (click)="ff.resetForm();"
                        style="color:rgb(98, 98, 255); cursor: pointer;"><u>X Clear all</u></a>
                </div>
                    <div class="col-md-12">

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="lbl">Contact Number</label>
                                <input type="text" class="form-control f-10" formControlName="mobile"
                                    (keypress)="OnlyNumbersAllowed($event)"
                                    placeholder="Enter mobile number" [(ngModel)]="mobile"
                                    pattern="[0-9]{10}" minlength="10" maxlength="10">
                                <div *ngIf="f.mobile.errors" style="color: red; font-size: 12px;">
                                    <span *ngIf="f.mobile.errors?.pattern"> Invalid Contact Number</span>
                                </div>
                            </div>
                         
                            <div class="col-md-6">
                                <label class="lbl">Desk Number</label>
                                <input type="text" class="form-control f-10" placeholder="Enter desk number"
                                    formControlName="deskno">
                            </div>
                        </div>

                        <div class="row mt-2">
                          
                            <div class="col-md-6">
                                <label class="lbl">Email-ID <span class="required-asterisk">*</span></label>
                                <input type="text" class="form-control f-10" formControlName="email"
                                    [(ngModel)]="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"
                                    placeholder="Email ID" required>
                                <div *ngIf="f.email.errors" style="color: red; font-size: 12px;">
                                    <span *ngIf="f.email.errors?.pattern"> Invalid Email ID</span>
                                </div>
                                <div *ngIf="submitted && f.email.errors || f.email.invalid && (f.email.dirty || f.email.touched)"
                                    style="color: red; font-size: 12px;">
                                    <div *ngIf="f.email.errors.required">Email ID is required.</div>
                                </div>

                            </div>
                           
                            <div class="col-md-6">
                                <label class="lbl">Organization <span
                                        class="required-asterisk">*</span></label>
                                <select class="form-control f-10" formControlName="org"
                                    [ngClass]="{ 'is-invalid': submitted && f.org.errors }">
                                    <option hidden>Select organization</option>
                                    <option *ngFor="let com3 of products8">{{com3.org}} </option>
                                </select>
                                <div *ngIf="submitted && f.org.errors || f.org.invalid && (f.org.dirty || f.org.touched)"
                                    style="color: red; font-size: 12px;">
                                    <div *ngIf="f.org.errors.required">Organization is required</div>
                                </div>

                            </div>
                          
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="lbl">Short description</label>
                                <textarea id="" name="msg-box" class="form-control f-10" rows="6"
                                    formControlName="description" placeholder="Short Description">
                                 </textarea>
                            </div>
                        </div>


                    </div>
            </div>
   
        <br>



        <div class="row">
            <div class="col-md-3 col-sm-4">

            </div>
            <div class="col-md-4 col-sm-4">
                <button [disabled]="form.invalid" style="cursor: pointer;" id="savenupdate"
                    class="cust-create-btn">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span>
                    CREATE USER</button>
            </div>
        </div> <br>

    </div>
</div>
</form>
</div>
