@font-face{
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Rezland';
    src: url('../assets/fonts/REZ.ttf');
}
@font-face{
    font-family: 'Raleway';
    src: url('../assets/fonts/TKFonts/TKReg.TTF');
}
@font-face{
    font-family: 'TKREGBD';
    src: url('../assets/fonts/TKFonts/TKReg.TTF');
}



  