<div class="row mt-2" style="padding: 15px;">
  <!-- <div class="col-md-3"> </div> -->
  <div class="col-md-12" style="background-color: white;border-radius: 3px;">

    <div class="row mt-1">
      <div class="col-md-9">
        <h3>Dashboard</h3>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4" style="padding-left:50px;">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" style="color: gray;" class="bi bi-calendar-fill" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
          </svg>&nbsp;&nbsp; &nbsp;&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" style="color: gray;" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
            <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
          </svg>&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary">
  Generate Reports
</button> -->
        </div>
      </div>
      </div>
    </div>

<div class="row mt-1">
  <div class="col-lg-6">
    <div class="card" style="background-color: white;border-radius: 3px;">
      <div class="card-body">
<div id="chart-div">
  <canvas id="myChart" width="320" height="320" #mychart></canvas>

</div>
<p style="font-weight: 600;font-size: 18px; color: #ffcd56;">{{itdevice}}:{{devicecount}}</p>
<p style="font-weight: 600;font-size: 18px; color: #36a2eb;">{{itrack}}:{{itcount}}</p>
<h3 style="font-size: 22px;text-align: center; font-weight: bold;">Total IT:{{TotalNonIT}}</h3>

      </div>
      </div>
  </div>
  <div class="col-lg-6">
    <div class="card" style="background-color: white;border-radius: 3px;">
      <div class="card-body">
<div id="chart-div">
        <canvas id="myChart1" width="320" height="320" #mychart1></canvas>

</div>
  <p style="font-weight: 600;font-size: 18px; color: #ff6384;">{{elecname}}:{{elecount}}</p>
  <p style="font-weight: 600;font-size: 18px; color: #36a2eb;">{{bmsname}}:{{bmscount}}</p>
  <h3 style="font-size: 22px;text-align: center; font-weight: bold;">Total Non IT:{{TotalIT}}</h3>
      </div>
      </div>
  </div>

</div>

<div class="row mt-2" style="align-items: right;">
  <div class="col-lg-6" style="text-align: center;">
    <h3 style="padding-left: 10%;">{{color}}{{total_no}}</h3>
  </div>
  <div class="col-lg-6" style="text-align: center;">
    <h3 style="padding-left: 10%;">{{color1}}{{total_no1}}</h3>
  </div>
</div>
  </div>

</div>



