
<div>
    
    <div class="row">
     
      <div class="col-md-3">
        <p id="headp">User Management &nbsp;<span>></span>&nbsp;User Group</p>
      </div>
    </div>
    
 

      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 col-xl-12 mt-1" style="background-color:white;margin-top: 0rem;border-radius: 3px;">

<br>
<div class="row">
    <div class="col-md-3">
      <button type="button"id="edit">EDIT &nbsp;<i class="fa fa-edit" ></i> </button><br><br><br>
     
        <div style="text-align: center;">
        <img  id="user" src="assets/img/Trial 2.png"/> <br>
        <label id="username"><b>  afd.username</b></label><br><br>
        <label id="Email"><img id="messages1"src="assets/img/Email Grey.png"/>&nbsp;&nbsp;&nbsp;User Email Input</label><br>
        <label id="ipcontact">afd.email</label><br>
        <label id="contact"><img id="phone"src="assets/img/Telephone.png">&nbsp;&nbsp;&nbsp;User Contact Input</label><br>
        <label id="ipcontact">afd.mobile</label><br>
        <label id="location"><img id="locpin"src="assets/img/Location Pin.png">&nbsp;&nbsp;&nbsp;&nbsp;User Location Input</label><br>
        <label id="iplocation"> afd.location</label>
        <label><br></label><br><br><br><br><br><br><br>
    </div>
    </div>

    <div class="vl"></div>

    <div class="col-md-8">
      <p id="info" class="ml-5">INFORMATION</p>
        <div id="p1" >
            <label id="userdept" >Group Lead</label><br>
            <label id="ipuserdept">afd.deptname</label>
        </div>
        <!-- <div id="p2">
          <label id="deptid" >Department I D</label><br>
          <label id="ipdeptid">afd.deptid</label>
      </div> -->
      <div id="p3" >
        <label id="userdept" >Business Function</label><br>
        <label id="ipuserdept">afd.name_role</label>
    </div>
    <div id="p4">
      <label id="usertype" >Managed By Department</label><br>
      <label id="ipusertype">afd.nut_id</label>
  </div>
  <div id="p5" >
    <label id="supportgroup" >Support Group</label><br>
    <label id="ipsupgrp">afd.sgname</label>
  </div>
  <div id="p6">
  <label id="usergrp" >Users</label><br>

  <div class="row ml-2">
    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>
    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>

    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>

    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>

  </div>

  <div class="row ml-2">
    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>
    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>

    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>

    <div class="col-md-2">
      <img style="height: 50px;width: 50px;margin-top: 15px;" src="assets/img/Trial 2.png">
      <p>"name"</p>
    </div>

  </div>

  

  </div> 
  

    </div>
</div>

<br>

</div>

<br>