
.card {
    padding: 15px;
    transition: 0.5s;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #fff;
  }

  
.active {
    box-shadow: 0 0px 11px -2px #565353d4;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .not-active {
    cursor: pointer;
  }

  .clear-all{
    margin-top: -30px;
    font-size: 12px;
    }
  
  /* .font-sans {
    font-family: TKReg;
  } */

  
.cust-create-btn {
   font-size: 16px;
   color: #fff;
   border-radius: 10px;
   background-color: #bebebe;
   outline: none;
   border: none;
   font-weight: 600;
   padding: 10px 15px 10px 15px;
 }
 .cust-create-btn:enabled {
   background-color: rgb(62, 144, 249);
 }

 .create-new {
    background-color: #fff;
    color: rgb(117, 116, 116);
    width: 100px;
    outline: none;
    cursor: pointer;
    border-color: #8d8b8b;
   margin-top: 10px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
  }

  .profile-name{
    font-size: 25px;
    font-weight: 600;
    color: #8c8c8c;
    margin-top: 30px;
  }

  
#user{
  
    width: 70px;
    height: 70px;
   
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #C4C4C4;
    }
    #Choose{
      font-family: TKReg;
      font-style: italic;
      font-weight: normal;
      margin-left: 5px;
      font-size: 13px;
      text-decoration-line: underline;
     
      }
      hr {
        border: 1px solid #c0bfbf;
        margin-top: 0px !important;
      }

      
  /* scrollbar */

  div.scroll {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    }
  
    .scroll::-webkit-scrollbar {
  
      width: 6px;
  
  }
  
   
  
  .scroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #696969;
      border-radius: 10px;
      box-shadow: #696969;
  }
  .scroll::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px #696969;
      box-shadow: #696969;
  } 
  .scroll::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  }
  
  
  
  .scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #696969;
  
  }

  
.form-controll {
  display: block;
  width: 100%;
  height: calc(2.25rem+ 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control{
  display: block;
  width: 100%;
  height: calc(2.25rem+ 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #d7d7d7;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.required-asterisk{
  color: red;
  font-weight: bold;
  font-size: 22px;
}

/* master-data */

li a {
  display: block;
  width: 100%;
  background-color: #bdbbbb;
  margin-top: 2px;
  padding: 5%;
  font-weight: bold;
  font-size: 14px;
}

.trash {
  opacity: 0.6;
  cursor: not-allowed;
}

.head-text{
  font-size: 28px;
  font-weight: 600;
  margin-left: 25px;
  color: #777575;
  margin-top: -32px;
}
.side{
  margin-top: 30px;
}
.fa-trash{
  float: right;
}

.nav-link{
  color:black;
}

.cards {
  padding: 15px;
  transition: 0.5s;
  border-radius: 5px;
  
}
.drop{
  height: 4%;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown-menu {
  width: 100% !important;
  max-height: 200px !important;
  overflow-y: auto;
}
/* s */
.texts{
  float: right;
}
.Close-icon{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  line-height: 12px;

  margin: -15px -33px 0px 0px;
  float: right;
  background-color: #000;
  color: rgb(255 255 255);
  text-align: center;
}
.btnn{
  background-color: #bebebe;
  color: #fff;
  margin-left: 30%;
  border: none;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
}
.card-text{
  font-size: 12px;
}
.add{
 text-decoration: underline;
}
.fa-plus{
  font-size: 10px;
  padding-right: 10px;
}
.fa-chevron-down{
 font-size: 10px;
 float: right;
 padding: 3px;
  color: #858383;
}



/* .card:click {
  box-shadow:0 0px 11px -2px #565353d4;
  text-decoration: none;
  transition: 0.5s;
} */

.active{
box-shadow:none;
text-decoration: none;
transition: 0.5s;
}

.not-active{
cursor: pointer;
}


.drop-text{
  position:absolute;
  
  width:200px;
   height:25px;
   line-height:20px;
   margin:0;
   padding:0;
}
.content{
    margin-top: 5%;
    font-size: 15px;
}

/* input-box-onfocus */
.form-controll:focus {
color: #495057;
background-color: #fff;
/* box-shadow: none; */
border-color: rgb(62 154 249);
outline: 0;
box-shadow: none;
}


